<!DOCTYPE html>
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    
    <!-- 제이쿼리 -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
      integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn"
      crossorigin="anonymous"
    />
    
    <style>
      .chat-content {
        height: 450px;
        overflow-y: scroll;
        padding: 10px;
      }
      *::-webkit-scrollbar-thumb {
      height: 30%; 
      background: #003458; 
      border-radius: 10px;
      }
      .chat-list{
        overflow: auto;
      }

      .chat-content li {
        margin-top: 10px;
        list-style: none;
      }
      .text-small {
        font-size: 12px;
        color: gray;
        margin-bottom: 0;
      }
      .chat-box {
        background: #eee;
        padding: 5px;
        border-radius: 5px;
        float: left;
      }
      .mine {
        float: right;
        background-color: #c8d85c;
        
      }
      .chat-room{
        border: 1px solid #ddd;
        border-radius: 5px;
        margin-left: 10px;
        width: 580px;
      }

      .chat-list li{        cursor: pointer;      }
      .chat-list li:hover{      background-color: #ddd;    }


      .cRoom{
        background-color: #ddd;
      }

    </style>
    <title><%= member.memberNickname%>님의 채팅방</title>
       <!-- 제이쿼리 -->
       <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
 
  </head>
  <body>
   
    <div class="container detail" style="margin:10px;">
      <div class="row" >
        <div class="col-3" style="padding:0;">
          
          <div style="width: 100%; height:50px; background-color: gray; border-radius: 4px; margin-bottom: 3px;">
            <span style="color:#ddd; padding-left: 10px;"><%=member.memberNickname%></span><br>
            <h6 class="text-small" style="color:#373737; padding-left: 10px;"><%=member.memberEmail%></h6>
          </div>

            <ul class="list-group chat-list">
             

            <% for(i=0; i<data.length; i++){ %>
              <li class="list-group-item" data-id="<%=data[i]._id %>"><!-- 현재 채팅방의 ID -->
                  <% if(member.memberNickname!=data[i].memberNickname[0]){%><h6><%=data[i].memberNickname[0]%></h6> <% } %>
                  <% if(member.memberNickname!=data[i].memberNickname[1]){%><h6><%=data[i].memberNickname[1]%></h6> <% } %>
                 
                  <% if(member.memberEmail != data[i].memberEmail[0]){%><h6 class="text-small"><%=data[i].memberEmail[0]%></h6> <% } %>
                  <% if(member.memberEmail!=data[i].memberEmail[1]){%><h6 class="text-small"><%=data[i].memberEmail[1]%></h6> <% } %>
              </li>
            <%}%>

          </ul>
        </div>

        <div class="col-9 p-0">
          <div class="chat-room" >

            <ul class="list-group chat-content" id="chatBox">
              <li><span class="chat-box">채팅방1 내용</span></li>
              <li><span class="chat-box">채팅방1 내용</span></li>
              <li><span class="chat-box mine"><%=member.memberEmail%></span></li>

            </ul>

            <div class="input-group">

              <input class="form-control" id="chat-input" />
              <button class="btn btn-secondary" id="send">전송</button>

            </div>

          </div>
        </div>
      </div>
    </div>


    <!-- 특정 회원에게 채팅을 전달한 경우 -->
    <input type="hidden" id="parent" name="parent" value='<%=parent%>'>
    <input type="hidden" id="targetMemberEmail" name="targetMemberEmail" value='<%=targetMemberEmail%>'>
    <input type="hidden" id="memberEmail" name="memberEmail" value='<%=member.memberEmail%>'>


    <!-- DB에 채팅 전송을 위한 JS -->
    <script>
      const sendBtn = document.getElementById('send');
      const parent = document.getElementById('parent').value;
      const targetMemberEmail = document.getElementById('targetMemberEmail').value;
      const memberEmail = document.getElementById('memberEmail').value;
      let useChatRoom = 0;
      const chatBox=$('.chat-content');
       


      /* 채팅방 접속 */
      /* -------------------------------------------------------------- */
      let 지금누른채팅방 = '';


      let eventSource;
      $(".list-group-item").click(openChat);


    // -- 만약 1대1 신청으로 접속하게 되면 바로 채팅창을 띄워주도록
    (function(){
      const checkRoom = document.getElementsByClassName('list-group-item');
        for(let room of checkRoom){
        //넘어온 채팅방 아이디가 동일하면 == 선택되었다는 속성 부여
            if(room.dataset.id == parent){
              room.classList.add('cRoom');
              useChatRoom = 1;
          }
      }
    })()

    if(parent != ''){
      $('.chat-content').html('');
        if(eventSource != undefined){            eventSource.close();          }
        
        eventSource = new EventSource('/message/'+parent);
        console.log('/message/'+parent);
        eventSource.addEventListener('chatting',function(e){
        let 가져온거 = JSON.parse(e.data);
        //채팅창 내역 비우기
        //$('.chat-content').html('');
        가져온거.forEach(function(i){
        if(i.memberEmail == memberEmail){ 
        chatBox.append(`<li><span class="chat-box mine">${i.content}</span></li>`)
        }else{   
        chatBox.append(`<li><span class="chat-box">${i.content}</span></li>`)
        }
        })
        chatBox[0].scrollTop = chatBox[0].scrollHeight
        });
    }

    

      //채팅방과 통신하는 함수 ~~~
      function openChat(e){
        지금누른채팅방 = this.dataset.id; //채팅방 하나 누르면 그 채팅방에 아이디를 가져온다.
        console.log( 지금누른채팅방);

        if(useChatRoom != 0 ){        
          $(".list-group-item").removeClass('cRoom');          
          this.classList.add('cRoom');        
        }else{         
           this.classList.add('cRoom');         
           useChatRoom = 1;        
        }
        //채팅창 내역 비우기
        $('.chat-content').html('');

if(eventSource != undefined){            eventSource.close();          }
eventSource = new EventSource('/message/'+지금누른채팅방);
eventSource.addEventListener('chatting',function(e){
let 가져온거 = JSON.parse(e.data);
//채팅창 내역 비우기
//$('.chat-content').html('');
가져온거.forEach(function(i){
if(i.memberEmail == memberEmail){ 
chatBox.append(`<li><span class="chat-box mine">${i.content}</span></li>`)
}else{   
chatBox.append(`<li><span class="chat-box">${i.content}</span></li>`)
}
})
chatBox[0].scrollTop = chatBox[0].scrollHeight
});
      }


    /* 채팅 전송 */
    /* -------------------------------------------------------------- */
    $('#send').click(function(){

    if(지금누른채팅방 == ''){
      alert("채팅방을 클릭해주세요.");
      $('#chat-input').val('');
      return false;
    }

    let content = $('#chat-input').val();
    $('#chat-input').val('');

    let 보낼거 = {
      parent : 지금누른채팅방,
      content : content,
      memberEmail :memberEmail,
    }
    console.log(보낼거);
    $.post('/message',보낼거).then(()=>{
        console.log('전송 성공');
    })
    })




    </script>
    <script      src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"       integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF"      crossorigin="anonymous"   />
  </body>
</html>
